mixin text-header(text_header)
  .text-header
    h1 Hello,
      br
      | My name is
      span=" " + text_header.name
      sup=" " + text_header.age+"YO"
      |, and this is a draft of my resume/CV.