include mixins/links
include mixins/stars
include mixins/label
include components/lang-switcher
include components/photo-header
include components/text-header
include components/header-skills
include components/article
include components/education
include components/experience
include components/contacts
include components/skills-graph
include components/languages
include components/hobbies

doctype html
html
  head
    //title=build.title
    link(rel='stylesheet', href=process.env.URL_PATH + '/stylesheets/vendor.css')
    link(rel='stylesheet', href=process.env.URL_PATH + '/stylesheets/main.css')
  body
    block content


script(src=process.env.URL_PATH + "/javascript/vendor.js")
script(src=process.env.URL_PATH + "/javascript/main.js")